<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Pools</h1>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Week</th>
          <th>Season</th>
          <th>Total points</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @pools.each do |pool| %>
        <tr>
          <td><%= pool.user.name %></td>
          <td><%= pool.week %></td>
          <td><%= pool.season %></td>
          <td><%= pool.total_points %></td>
          <td><%= link_to 'Show', pool %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Pool', new_pool_path %>

  </div>
</div>
