<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Quinielas</h1>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 13</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 13).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 12</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 12).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 11 </h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 11).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 10</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 10).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 9</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 9).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 8</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 8).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 7</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 7).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 6</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 6).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 5</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 5).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 4</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 4).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 3</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 3).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 2</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 2).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Show', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h2>Temporada 2018 - Semana 1</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Participante</th>
                <th>Puntuación</th>
                <th colspan="1"></th>
              </tr>
            </thead>

            <tbody>
              <% @pools.where(week: 1).each do |pool| %>
              <tr>
                <td><%= pool.user.name %></td>
                <td><%= pool.total_points %></td>
                <td><%= link_to 'Ver', pool %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br>

  </div>
</div>
