<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <br><br>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <div class="row">
            <div class="col-md-4">
              <p>
                <strong>Participante:</strong>
                <%= @pool.user.email %>
              </p>

            </div>
            <div class="col-md-4">
              <p>
                <strong>Semana:</strong>
                <%= @pool.week %>
              </p>

            </div>
            <div class="col-md-4">
              <p>
                <strong>Temporada:</strong>
                <%= @pool.season %>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table text-center">
                <thead>
                  <tr class="text-center">
                    <th class="text-center">Visitante</th>
                    <th class="text-center">Empate</th>
                    <th class="text-center">Local</th>
                  </tr>
                </thead>
                <tbody>
                  <% @forecasts.each do |forecast| %>
                    <% if forecast.game.editable %>
                      <tr id="forecast-<%= forecast.id %>">
                        <% if forecast.selection == 'away' %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-primary" , remote: :true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <% elsif forecast.selection == 'draw' %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-primary" , remote: :true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <% elsif forecast.selection == 'home' %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-primary" , remote: :true %></td>
                        <% else %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-default" , remote: :true %></td>
                        <% end %>
                      </tr>
                    <% else %>
                      <tr id="forecast-<%= forecast.id %>">
                        <% if forecast.selection == 'away' %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-primary disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <% elsif forecast.selection == 'draw' %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-primary disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <% elsif forecast.selection == 'home' %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-primary disabled" , remote: :true, disabled:true %></td>
                        <% else %>
                        <td><%= button_to @teams.find(forecast.game.away_team).name, forecast, method: :put, params: {selection: 'away'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to "Empate", forecast, method: :put, params: {selection: 'draw'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <td><%= button_to @teams.find(forecast.game.home_team).name, forecast, method: :put, params: {selection: 'home'}, class: "remote-update btn btn-sm btn-default disabled" , remote: :true, disabled:true %></td>
                        <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <p>
                <strong>Puntos totales:</strong>
                <%= @pool.total_points %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <%= link_to 'Edit', edit_pool_path(@pool) %> |
    <%= link_to 'Back', pools_path %>

  </div>
</div>
