<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Teams</h1>

    <table class="table">
      <thead>
        <tr>
          <th>City</th>
          <th>Team Name</th>
          <th>Short Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td><%= team.city %></td>
          <td><%= team.name %></td>
          <td><%= team.short_name %></td>
          <td><img src="https://static.nfl.com/static/content/public/static/wildcat/assets/img/logos/teams/<%= team.short_name != "JAC" ? team.short_name : "JAX" %>.svg" class="img-fluid mx-auto d-block" style="max-height:35px;" width="35"></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Team', new_team_path %>
  </div>
</div>
