<div class="row">
  <div class="col-md-12">
    <br><br>
    <%= form_tag({controller: "admin", action: "get_new_week"}, method: "get") do %>
        <%= label_tag(:week, "Semana:") %>
        <%= number_field_tag(:week, class:"form-control") %>
        <%= label_tag(:season, "Temporada:") %>
        <%= number_field_tag(:season, class:"form-control") %>
        <%= submit_tag("Cargar Juegos", class:"btn btn-default") %>
    <% end %>
  </div>
</div>
<br>
