<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Games</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Scheduled At</th>
          <th>Home Score</th>
          <th>Away Score</th>
          <th>Week</th>
          <th>Season</th>
        </tr>
      </thead>

      <tbody>
        <% @games.each do |game| %>
        <tr>
          <td><%= @teams.where(id: game.home_team).first.name %></td>
          <td><%= @teams.where(id: game.away_team).first.name %></td>
          <td><%= game.scheduled_at.strftime("%B %d, %Y, %A") %></td>
          <td><%= game.home_team_score %></td>
          <td><%= game.away_team_score %></td>
          <td><%= game.week %></td>
          <td><%= game.season %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Game', new_game_path %>

  </div>
</div>
