<div class="row">
  <div class="col-md-12">
    <div class="row">
      <br>
      <br>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <div class="row">
            <div class="col-md-12">
              <h2>Mis Quinielas:</h2>
              <table class="table">
                <thead>
                  <tr>
                    <td>Semana</td>
                    <td>Temporada</td>
                    <td>Puntos</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <% @pools.each do |pool| %>
                  <tr>
                    <td><%= pool.week %></td>
                    <td><%= pool.season %></td>
                    <td><%= pool.total_points %></td>
                    <td><%= link_to 'Ver', pool %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
              <h3>Puntos Totales: <%= @total_points %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <div class="row">
            <div class="col-md-12">
              <h2>Totales de contrincantes:</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Jugador</th>
                    <th>Acumulado</th>
                  </tr>
                </thead>
                <tbody>
                  <% @players.each do |p| %>
                  <% acumulado = 0 %>
                  <% Pool.where(user_id: p.id).each do |pool| %>
                  <% acumulado = acumulado + pool.total_points %>
                  <% end %>
                  <tr>
                    <td><%= p.name %></td>
                    <td><%= acumulado %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
